body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(../images/diagmonds_@2X.png);
    box-sizing: border-box;
}

h1 {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    background-color: #C97127;
    padding: 20px 5px 20px 5px;
    margin: 5px 10px 5px 10px;
    float: left;
}

.content {
    clear: both;
    overflow: none;
    background-color: #FBE7CC;
    padding: 20px 5px 100px 5px;
    margin: 5px 10px 5px 10px;
    float: left;
    width: 480px;
}

p {
    color: #608F23;
    font-weight: bold;
    line-height: 20px;
}

#randomNumber {
    clear: both;
    overflow: none;
    float: left;
    width: 240px;
    height: 100px;
    font-size: 25px;
    background-color: #5BC880;
    padding: 5px;
    margin: 5px 10px 5px 10px;
    color: #602065;
}

#counters {
    float: left;
    margin-top: 5px;
    background-color: #4BFDFE;
    font-weight: 100;
    height: 100px;
    width: 75px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.counter {
    font-weight: 100;
}

#wins {
    color: #608F23;
}

#losses {
    color: #608F23;
}

#diamonds {
    clear: both;
    overflow: none;
    float: left;
    margin: 0px;
}

#diamond1 {
    clear: both;
    overflow: none;
    float: left;
    margin: 10px 5px 10px 10px;
    cursor: pointer;
}

#diamond2 {
    float: left;
    margin: 10px 5px 10px 0px;
    cursor: pointer;
}

#diamond3 {
    float: left;
    margin: 10px 5px 10px 0px;
    cursor: pointer;
}

#diamond4 {
    float: left;
    margin: 10px 5px 10px 0px;
    cursor: pointer;
}

#score1 {
    clear: both;
    overflow: none;
    width: 250px;
    background-color: #2BA396;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
    margin: 10px 10px 15px 10px;
}

#currentResult {
    clear: both;
    overflow: none;
    width: 250px;
    height: 100px;
    background-color: #2BA396;
    color: #ffffff;
    font-size: 25px;
    font-weight: 100;
    padding: 5px;
    margin: 10px 10px 10px 10px;
}
